*
{
    font-family: Segoe UI;
    font-weight: lighter;
    box-sizing: border-box;
}
.Nbar
{
    padding: 0px 100px;
}
.nav-font
{
    font-size: 18px;
    font-weight: 600;
}
.Main
{
    color: #204473;
}
.container{
    display: flex;
    overflow: hidden;
}
.container .info{
    width: 50%;
}
.container h2,.symptoms h3{
    text-align: left;
    font-weight: 700;
}
.container p{
    text-align: left;
    font-size: larger;
    font-weight: 400;
}
.container .logo{
    width: 50%;
}
.container .logo img{
    width: 90%;
    height: 90%;
}
.symptoms
{
    overflow: hidden;
}
.symptoms-logo
{
    width: 100%;
    height: 5vh;
    color: #333333;
    display: flex;
    justify-content: center;
    font-size: 25px;

}
.items
{
    height: 25vh;
    display: flex;
    justify-content: center;
}
.symp-card
{
    width: 17%;
    justify-content: center;
    margin-top: 35px;
    padding:0px 30px;
    transition: background-color 1s;
}
.symp-card img
{
    width: 50%;
    transition: transform 1s;
}
.symptoms-logo
{
    width: 100%;
}
.symp-card:hover img
{
    transform: scale(1.2);
}

/********************** start of detection page ************************************/
.uploadDiv
{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center !important;
    flex-direction: column;
}
.uploadDiv .text h2
{
    color: black;
    font-weight: 800;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    color: white;
    font-weight: 700;
    font-size: larger;
    /* border-radius: 10px; */
    background-color: #204573 ;
    display: inline-block;
    padding: 5px 100px;
    cursor: pointer;
    box-shadow:0px 4px 8px black ;
}
.custom-file-upload:hover
{
    background-color: #1e62b6 ;
    transition:  1.5;

}
